{{>layout/header}}

<h1>회원 정보</h1>
{{#member}}
    <div class="row">
        <div class="col-md-12">
            <!-- 개인 정보 -->
            <table class="table table-bordered">
                <tbody>

                <tr>
                    <th>이름</th>
                    <td>{{name}}</td>
                    <th>학년</th>
                    <td>{{grade.title}}</td>
                    <th>학번</th>
                    <td>{{student_num}}</td>
                    <th>전화번호</th>
                    <td>{{phone}}</td>
                </tr>
                <tr>
                    <th>반</th>
                    <td>{{class_name.title}}</td>
                    <th>성별</th>
                    <td>{{gender.title}}</td>
                    <th>생년월일</th>
                    <td>{{brith_date}}</td>
                    <th>이메일</th>
                    <td>{{email}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <br>
        <div class="col-md-12">
            <!--권한 수정 미완성-->
            <div class="text-right">
                <div class="form-group">
                    {{role.title}}
                </div>
            </div>
            <!-- 자기소개, 지원동기, 하고싶은 활동, 자신의 장점  -->
            <div class="row">
                <div class="col-md-6">
                    <!-- 자기소개 -->
                    <div class="form-group">
                        <label for="selfIntroduction">자기소개</label>
                        <textarea class="form-control" id="selfIntroduction" rows="4" readonly>{{self_introduction}}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- 지원동기 -->
                    <div class="form-group">
                        <label for="motivation">지원동기</label>
                        <textarea class="form-control" id="motivation" rows="4" readonly>{{motivation}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- 하고싶은 활동 -->
                    <div class="form-group">
                        <label for="desiredActivity">하고싶은 활동</label>
                        <textarea class="form-control" id="desiredActivity" rows="4" readonly>{{desired_activity}}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- 자신의 장점 -->
                    <div class="form-group">
                        <label for="strengths">자신의 장점</label>
                        <textarea class="form-control" id="strengths" rows="4" readonly>{{strengths}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <a href="/members/memberList" class="btn btn-primary">목록</a>
        </div>
        <div class="col-md-6 text-right">
            <a href="/members/member/update/{{id}}" class="btn btn-secondary">정보 수정</a>
            <a href="#" class="btn btn-danger">회원 삭제</a>
        </div>
    </div>
{{/member}}
{{>layout/footer}}