{{>layout/header}}

<h1>게시글 목록</h1>
<a href="/boards/board/save" role="button" class="btn btn-primary">글 등록</a>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>카테고리</th>
        <th>제목</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#board}}
        <tr>
            <td>{{categorys.title}}</td>
            <td><a href="/boards/board/{{id}}">{{title}}</a></td>
            <td>{{modifiedDate}}</td>
            <td>{{viewCount}}</td>
        </tr>
    {{/board}}
    </tbody>
</table>

{{>layout/footer}}