{{>layout/header}}

<h1>게시글 수정</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="id">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{board.id}}" readonly>
            </div>
            <!--카테고리 selectedOption.js 사용-->
            <div class="form-group">
                <select id="categories" name="categories"></select>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{board.title}}">
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author" value="{{board.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content">{{board.content}}</textarea>
            </div>
        </form>
        <a href="/boards/boardList" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>


{{>layout/footer}}

<script>
function addOptionToSelect(value, label, selected) {
    var select = document.getElementById("categories");
    var option = document.createElement("option");
    option.value = value;
    option.text = label;
    if (selected) {
        option.selected = true;
    }
    select.appendChild(option);
}

document.addEventListener("DOMContentLoaded", function () {

    var categoriesData = [
        { value: "NOTICE", label: "공지사항", selected: false },
        { value: "DATA_ARCHIVE", label: "자료게시판", selected: true },
        { value: "PHOTO_GALLERY", label: "포토갤러리", selected: false },
    ];

    var selectedCategory = "{{board.categories}}";

    categoriesData.forEach(function (category) {
        addOptionToSelect(
            category.value,
            category.label,
            category.value === "{{board.categories}}"
        );
    });
});
</script>