{{>layout/header}}

<h1>게시글 목록</h1>
<a href="//board-save" role="button" class="btn btn-primary">글 등록</a>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#board}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/board/update/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/board}}
    </tbody>
</table>

{{>layout/footer}}