{{>layout/header}}
<h1>가입신청서 확인</h1>
<table class="table table-hover table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>학년</th>
        <th>학번</th>
        <th>이름</th>
        <th>신청 날짜</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#register}}
        <tr data-href="/registers/register/detail/{{id}}">
            <td>{{grade}}</td>
            <td>{{class_name}}</td>
            <td>{{req_name}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/register}}
    </tbody>
</table>

{{>layout/footer}}
<script>
    // 행 전체를 클릭하면 상세 페이지로 이동하는 함수
    const rows = document.querySelectorAll("tr[data-href]");
    rows.forEach(row => {
        row.addEventListener("click", () => {
            const href = row.getAttribute("data-href");
            if (href) {
                window.location.href = href;
            }
        });
    });
</script>