{{>layout/header}}
<h1>가입신청서 확인</h1>
<table class="table table-hover table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>학년</th>
        <th>학번</th>
        <th>이름</th>
        <th>신청 날짜</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#registerList}}
        <tr data-href="/registers/register/detail/{{id}}">
            <td>{{grade.title}}</td>
            <td>{{student_num}}</td>
            <td>{{name}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/registerList}}
    </tbody>
</table>

{{>layout/footer}}
<script src="/js/app/row-click.js"></script>