{{>layout/header}}

<h1>관리자 기본 페이지</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                로그인 계정: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver</a>
            {{/userName}}

            <br>
            <!--상단 바로가기 바 항목: 게시판, 회원관리-->
            <div class="col-md-6">
                <!--상단 바로가기 바 항목: 게시판, 회원관리, 일정, 쪽지-->
                <div class="d-flex justify-content-around">
                    <a href="/boards/boardList" role="button" class="btn btn-primary">게시판</a>
                    <div class="dropdown d-inline-block">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            회원 관리
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/members/memberList">회원 목록</a>
                            <a class="dropdown-item" href="/registers/registerList">가입신청서 확인</a>
                        </div>
                    </div>
                    <a href="#" role="button" class="btn btn-primary">일정</a>
                    <a href="#" role="button" class="btn btn-primary">쪽지</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
